.navBar {
    .navBarLogo {
        h2 {
            font-size: 20px;
            color: #3A3A3A;
        }
    }

    .navBarSide {
        .arrow {
            h6 {
                font-size: 14px;
                color: #091E46;
            }

        }

    }

}