//Poppin

$font-black: "Poppin Black";
$font-blackitalic: "Poppin BlackItalic";
$font-bold: "Poppin Bold";
$font-bolditalic: "Poppin BoldItalic";
$font-extrabold: "Poppin ExtraBold";
$font-extrabolditalic: "Poppin ExtraBoldItalic";
$font-extralight: "Poppin ExtraLight";
$font-extralightitalic: "Poppin ExtraLightItalic";
$font-italic: "Poppin Italic";
$font-light: "Poppin Light";
$font-lightitalic: "Poppin LightItalic";
$font-medium: "Poppin Medium";
$font-mediumitalic: "Poppin MediumItalic";
$font-regular: "Poppin Regular";
$font-semibold: "Poppin SemiBold";
$font-semibolditalic: "Poppin SemiBoldItalic";
$font-thin: "Poppin Thin";
$font-thinitalic: "Poppin ThinItalic";


